<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>330122403452-uf3ih8slhcq3v6avafh4qigeeqbqi6ht.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.330122403452-uf3ih8slhcq3v6avafh4qigeeqbqi6ht</string>
	<key>API_KEY</key>
	<string>AIzaSyDWg7l77aN6sZ8CWxPTsd-97alOVtSW7zw</string>
	<key>GCM_SENDER_ID</key>
	<string>330122403452</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.qlct</string>
	<key>PROJECT_ID</key>
	<string>qlct-app</string>
	<key>STORAGE_BUCKET</key>
	<string>qlct-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:330122403452:ios:a476fdb72e397ef7f573f9</string>
	<key>DATABASE_URL</key>
	<string>https://qlct-app-default-rtdb.firebaseio.com</string>
</dict>
</plist>